#login{
    background: transparent;
    padding: 8px 32px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    transition: .3s ease-in-out;
    &:hover{
        background: white;
        color: red;
        transition: .3s ease-in-out;
    }
}