.product-back{
    background: #F8F8F8;
}

.product-h1{
    color: brown;
    @include font;
    font-size: 48px;
}
.card{
    border: 0;
    border-radius: 10px;
}
.product .swiper-button-next, .product .swiper-button-prev{
    top: -100px;
    position: sticky;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    left: 0;
    &::after{
        padding: 10px 15px;
        font-size: 30px;
    }
}

.product .swiper-button-prev{
    right: 50px;
}
@media screen and (max-width:568px) {
    .product-h1{
        font-size: 24px;
    }
}