* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.hero {
  background-color: brown;
  padding: 100px 0;
}
.hero-main {
  color: white;
}
.hero-text button {
  background: transparent;
  padding: 8px 32px;
  color: white;
  transition: 0.3s ease-in-out;
}
.hero-text button:hover {
  background: white;
  color: red;
  transition: 0.3s ease-in-out;
}
.hero-text span {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 25px;
  line-height: 130%;
  letter-spacing: 0.04em;
}
.hero-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 25px;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-size: 70px;
  text-transform: capitalize;
}
.hero-text p {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 25px;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-size: 16px;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .hero-text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: url(./../Header/hero2.png);
    background-position: 40% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-text {
    padding: 0 10px;
    text-align: center;
  }
  .hero-text p {
    opacity: 1;
  }
  .hero-img {
    display: none;
  }
}
#login {
  background: transparent;
  padding: 8px 32px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  transition: 0.3s ease-in-out;
}
#login:hover {
  background: white;
  color: red;
  transition: 0.3s ease-in-out;
}

.product-back {
  background: #F8F8F8;
}

.product-h1 {
  color: brown;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 25px;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-size: 48px;
}

.card {
  border: 0;
  border-radius: 10px;
}

.product .swiper-button-next, .product .swiper-button-prev {
  top: -100px;
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  left: 0;
}
.product .swiper-button-next::after, .product .swiper-button-prev::after {
  padding: 10px 15px;
  font-size: 30px;
}

.product .swiper-button-prev {
  right: 50px;
}

@media screen and (max-width: 568px) {
  .product-h1 {
    font-size: 24px;
  }
}
.menu-item div {
  border: 1px solid red;
  border-radius: 30px;
  padding: 5px 20px;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.active {
  background: #BB2339;
}

.active a {
  color: white;
}

.card-body span {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #BB2339;
}

.all .card:hover {
  background-color: #BB2339;
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

.offer-back {
  background: #F4F4F4;
}

.offer-h1 {
  color: brown;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 25px;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-size: 48px;
}

.card {
  border: 0;
  border-radius: 10px;
}

.offer .swiper-button-next, .offer .swiper-button-prev {
  top: -100px;
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  left: 0;
}
.offer .swiper-button-next::after, .offer .swiper-button-prev::after {
  padding: 10px 15px;
  font-size: 30px;
}

.offer .swiper-button-next::after, .offer .swiper-button-prev::after {
  padding: 10px 15px;
  font-size: 30px;
}

.offer .swiper-button-prev {
  right: 50px;
}

.offer input {
  outline: none;
}

@media screen and (max-width: 568px) {
  .offer-h1 {
    font-size: 24px;
  }
}
.letter-site {
  margin-top: 100px;
  background-color: #bb2339;
}

.letter {
  position: relative;
  bottom: 50px;
  padding: 64px 0;
  background: #bb2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
}
.letter__text {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  color: #ffffff;
}
.letter__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
  padding-bottom: 16px;
}
.letter__input {
  max-width: 635px;
  width: 100%;
  outline: none;
  color: #ffffff;
  padding: 12px 18px 12px;
  background: transparent;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
}
.letter ::-moz-placeholder {
  color: #fff;
}
.letter :-ms-input-placeholder {
  color: #fff;
}
.letter ::placeholder {
  color: #fff;
}
.letter__btn {
  border: none;
  padding: 12px 32px;
  background: transparent;
  border: 1px solid #ffffff;
  transition: all 2s ease;
  border-radius: 100px;
  color: #ffffff;
}
.letter__btn:hover {
  background-color: #fff;
  color: red;
  transition: all 2s ease;
}
.letter__text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #ffffff;
  padding-bottom: 64px;
}

.contact {
  padding-bottom: 50px;
}
.contact__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #ffffff;
}
.contact__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.contact__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.updates-h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #242424;
}
.updates-h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #BB2339;
}
.updates-link {
  color: #BB2339;
  text-decoration: none;
  font-weight: 700;
}
.updates-span {
  color: #242424;
  opacity: 0.7;
}
.updates .card-text {
  opacity: 0.7;
}
.updates .card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.updates-view {
  color: #242424;
  text-decoration: none;
  border: 2px solid red;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.updates-view:hover {
  border: 2px solid #242424;
  color: red;
  transition: 0.3s ease-in-out;
  transform: scale(1.02);
}
.updates .card:hover {
  transform: scale(1.02);
}

.Videoimg {
  vertical-align: middle;
  max-width: 1920px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */